body {
    background-color:rgb(245, 157, 157)
}
.clock-container {
    background: linear-gradient(135deg, #eebbe3, #caa0b5);
    color: rgb(206, 114, 114);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    min-width: 300px;
}
h1 {
    font-family: 'Courier New', monospace;
    font-size: 3rem;
}